* {
    font-size: 14px;
}

#map {
    width: 100vw;
    height: 60vh;
}

.wx-card {
    /*width: 350px;*/
    margin: 0 20px 20px 0;
    transition: .3s;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.wx-card:hover {
    transform: scale(0.98);
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.3);
}

/*.day-btn {*/
/*    background-color: inherit;*/
/*    color: inherit;*/
/*}*/

/*.day-btn:hover {*/
/*    background-color:  rgba(0, 0, 0, 0.08);*/
/*    color: inherit;*/
/*}*/

.keep-parent {
    background-color: inherit;
    color: inherit;
}

.night-mode {                                                          /*Night modes???  */
    background-color: #58585e;
    color: #FFFFFF;
}

.dark-nav {
    background-image: linear-gradient(45deg, #0F2027, #203A43, #2C5364);
}

.day-nav {
    background-image: linear-gradient(45deg, #6767ef, #ee850d, #0d0dee);
}

.dark-form {
    background-color: #58585e;
}